Repository joy-of-react/project-wordle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

chore: update husky
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update README.md
  README.md
Due: none

fix: shows the board and completes it with user guesses
  src/components/UserGuesses/UserGuesses.js
Due: eslint --fix, prettier --write

feature: UserGuesses style for slots
  src/components/Game/Game.js
  src/components/UserGuesses/UserGuesses.js
Due: eslint --fix, prettier --write

feat: game finished
  src/components/Banner/Banner.js
  src/components/Banner/index.js
  src/components/Game/Game.js
  src/components/UserGuesses/UserGuesses.js
  src/components/UserInput/UserInput.js
Due: eslint --fix, prettier --write

fix: fix input field character limit bug
  src/components/input/Input.tsx
Due: eslint --fix, prettier --write

feat: add auto-focus and shortcut focus
  src/components/input/Input.tsx
Due: eslint --fix, prettier --write

feat: add input validation
  src/components/input/Input.tsx
Due: eslint --fix, prettier --write

feat: add a "Replay" button
  src/App.tsx
  src/components/banner/Banner.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

Add a "work in progress" note (#14)
  README.md
Due: none

git practice
  src/components/Slots/Slots.js
Due: eslint --fix, prettier --write

Bump parcel
  package-lock.json
  package.json
Due: prettier --write

add CodeSandbox config
  sandbox.config.json
Due: prettier --write

feat: add Guess Input component
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/GuessInput/index.js
Due: eslint --fix, prettier --write

Guess Input component
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/GuessInput/index.js
Due: eslint --fix, prettier --write

Guess Input component
  package-lock.json
Due: prettier --write

worlde guess list
  src/components/AllGuesses/AllGuesses.js
  src/components/AllGuesses/index.js
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
Due: eslint --fix, prettier --write

Add GuessInput
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/GuessInput/index.js
Due: eslint --fix, prettier --write

Keep track of user guesses
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
Due: eslint --fix, prettier --write

Add guess slots
  src/components/Game/Game.js
  src/components/Guess/Guess.js
  src/components/Guess/index.js
  src/components/GuessInput/GuessInput.js
Due: eslint --fix, prettier --write

Add game logic
  src/components/Game/Game.js
  src/components/Guess/Guess.js
Due: eslint --fix, prettier --write

Add win and lose gme status updates
  src/components/Banner/Banner.js
  src/components/Banner/index.js
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/constants.js
Due: eslint --fix, prettier --write

guess slot exercise 3
  src/components/AllGuesses/AllGuesses.js
  src/components/Guess/Guess.js
  src/components/Guess/index.js
Due: eslint --fix, prettier --write

game logic exercise 4
  src/components/AllGuesses/AllGuesses.js
  src/components/Game/Game.js
  src/components/Guess/Guess.js
Due: eslint --fix, prettier --write

banner exercise 5
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/LostBanner/LostBanner.js
  src/components/LostBanner/index.js
  src/components/WonBanner/WonBanner.js
  src/components/WonBanner/index.js
Due: eslint --fix, prettier --write

Update GitHub docs URL in dependabot.yaml (#19)
  .github/dependabot.yml
Due: none

Change dependabot updates interval to weekly (#20)
  .github/dependabot.yml
Due: none

Enforce single attribute per line in JS, JSX & Vue
  .prettierrc.json
Due: prettier --write

Run Prettier after config change
  README.md
  docs/end-result.html
  public/index.html
Due: none

guess word part
  package-lock.json
  src/components/GuessInput/GuessInput.js
  src/components/GuessInput/index.js
Due: eslint --fix, prettier --write

ex1, input
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
Due: eslint --fix, prettier --write

ex1 done. input
  src/components/GuessInput/GuessInput.js
Due: eslint --fix, prettier --write

modified ex1
  src/components/GuessInput/GuessInput.js
Due: eslint --fix, prettier --write

ex2
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/GuessesList/GuessesList.js
  src/components/GuessesList/index.js
Due: eslint --fix, prettier --write

ex2 done
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/GuessesList/GuessesList.js
Due: eslint --fix, prettier --write

ex2 change guess as object to string
  src/components/Game/Game.js
  src/components/GuessInput/GuessInput.js
  src/components/GuessesList/GuessesList.js
Due: eslint --fix, prettier --write

ex3. render slots
  src/components/GuessSlots/GuessSlots.js
  src/components/GuessSlots/index.js
Due: eslint --fix, prettier --write

ex3. render slots
  src/components/Game/Game.js
  src/components/Guess/Guess.js
  src/components/Guess/index.js
  src/components/GuessSlots/GuessSlots.js
Due: eslint --fix, prettier --write

update cells
  src/components/Game/Game.js
  src/components/Guess/Guess.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss,sass,less,postcss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,sass,less,postcss,json}
